* {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5 !important;
}

/* Navbar */

.navbar {

    padding-top: 15px;
    padding-bottom: 15px;

}

.navbar-brand {

    font-size: 36px;
    font-weight: bold;
    color: #0D0D0D !important;

}

.navbar-nav {

    font-size: 16px !important;
    font-weight: normal !important;
    color: #0D0D0D !important;

}

.navbar-light .navbar-nav .nav-link {

    color: #0D0D0D !important;

}

.navbar-nav .nav-link {
    
    padding-left: 30px !important;

}

/* Banner */
.banner {

    margin-top: 155px;
    margin-bottom: 150px;

}

.banner h2 {

    font-size: 48px;
    font-weight: bold;
    color: #0D0D0D !important;

}

.banner h5 {

    margin-top: -10px;
    font-weight: normal;
    font-size: 32px;
    color: #0D0D0D !important;

}

.banner p {

    margin-top: 20px;
    margin-bottom: 20px;

}

.btn-outline-dark {

    color: #0D0D0D !important;
    border-color: #0D0D0D;
    border-radius: 0;
    
}

.bagian {

    font-weight: bold;
    font-size: 32px;

}



