* {
    font-family: 'Poppins', sans-serif;
    
}

body {

    background-color: #E5E5E5;

}

/* Navbar */

.navbar {

    padding-top: 15px;
    padding-bottom: 15px;

}



.navbar-brand {

    font-size: 36px;
    font-weight: bold;
    color: #0D0D0D !important;

}

.navbar-nav {

    font-size: 16px !important;
    font-weight: normal !important;
    color: #0D0D0D !important;

}

.navbar-light .navbar-nav .nav-link {

    color: #0D0D0D !important;

}

.navbar-nav .nav-link {
    
    padding-left: 30px !important;

}

/* Banner */
.banner {

    margin-top: 155px;
    margin-bottom: 80px;
    background: #E5E5E5;

}

.banner h2 {

    font-size: 48px;
    font-weight: bold;
    color: #0D0D0D !important;

}

.banner h5 {

    margin-top: -10px;
    font-weight: normal;
    font-size: 32px;
    color: #0D0D0D !important;

}

.banner p {

    margin-top: 20px;
    margin-bottom: 20px;

}

.banner .btn-dark {

    background: #0D0D0D;
    color: #E5E5E5;
    border-radius: 0%;

}

.bagian {

    font-weight: bold;
    font-size: 32px;

}

/* Skills */
.skills {

    margin-bottom: 100px;


}

.skills .row img {

        width: 280px;
        height: 135px;

    }

.line {

    margin-top: -15px;

}

.skills .skills-icon {

    width: 500px;
    height: 250px;

}

/* Contact */

.contact {

    margin-bottom: 30px;

}

.contact .isi-contact {

    margin-top: 20px;

}

.contact .isi-contact img {

    width: 28px;
    height: 28px;

}

.contact a {

    text-decoration: none;
    color: #0D0D0D;
    font-size: 16px;
    padding-left: 5px;

}

/* Footer */
footer {

    background: #0D0D0D;
    

}

footer p {

    padding-top: 15px;
    color: #E5E5E5;
    font-size: 14px;
    font-weight: 300;

}

/* Desktop */
@media (min-width: 576px) { 

    .banner {

    margin-bottom: 150px;

    }
    
    .skills {

    margin-bottom: 160px;

    }


    .skills .row img {

        width: 500px;
        height: 250px;

    }






 }

